<div xmlns="http://www.w3.org/1999/xhtml" data-template="viewItem:placeRoot">
	<script data-template="viewItem:placeFigureScript" />
	<div class="w3-twothird" id="MainData" data-template="viewItem:placeSetup">
		<div id="description">
			<h2 data-template="viewItem:placeNamesHeading">Names</h2>
			<ul data-template="viewItem:placeNamesList" />
			<div data-template="viewItem:placeOsm" />
			<div data-template="viewItem:placeGallery" />
			<div data-template="viewItem:placeSections" />
			<button data-template="viewItem:placeAttestationsButton" />
			<div class="w3-container" id="allattestations" />
		</div>
		<div data-template="viewItem:placeRelsInfo" />
		<div data-template="viewItem:placeStandards" />
	</div>
	<div data-template="viewItem:placeResp" />
</div>
