<div xmlns="http://www.w3.org/1999/xhtml" data-template="viewItem:documentsRoot">
	<div class="w3-container">
		<div class="w3-twothird w3-padding w3-card-4">
			<div class="w3-row w3-padding w3-margin-bottom w3-red">
				<div data-template="viewItem:documentsResume" />
				<span class="w3-tag w3-gray" data-template="viewItem:documentsDate" />
			</div>
			<div class="w3-row w3-margin-bottom">
				<div class="w3-half w3-padding" lang="gez" data-template="viewItem:documentsGezQ" />
				<div class="w3-half w3-padding" data-template="viewItem:documentsOtherQ" />
				<div class="footnotes" data-template="viewItem:documentsFootnotes" />
			</div>
		</div>
		<div class="w3-third w3-padding w3-card-4 w3-gray">
			<div data-template="viewItem:documentsOtherNotes" />
			<div data-template="viewItem:documentsBibliography" />
		</div>
	</div>
	<hr />
</div>
