<div xmlns="http://www.w3.org/1999/xhtml" class="w3-twothird" id="MainData" data-template="viewItem:workSetup">
	<div id="description">
		<div data-template="viewItem:workTitles" />
		<div data-template="viewItem:workAuthorship" />
		<div data-template="viewItem:workTranslator" />
		<div data-template="viewItem:workGeneralDescription" />
		<div data-template="viewItem:workExtent" />
		<div data-template="viewItem:workSnippet" />
		<div data-template="viewItem:workCreationDate" />
		<div data-template="viewItem:workWitnesses" />
		<div data-template="viewItem:workSourceDescP" />
		<div data-template="viewItem:workClavisBibliography" />
		<div data-template="viewItem:workBibliography" />
		<div data-template="viewItem:workStandards" />
		<div data-template="viewItem:workVoyantLink" />
		<button data-template="viewItem:workAttestationsButton" />
		<div class="w3-container" id="allattestations" />
	</div>
	<div data-template="viewItem:workResp" />
</div>
