<div xmlns="http://www.w3.org/1999/xhtml" class="w3-twothird" id="MainData" data-template="viewItem:authSetup">
	<div id="description">
		<h2>General description</h2>
		<div data-template="viewItem:authSourceDesc" />
		<div data-template="viewItem:authAbstract" />
		<div data-template="viewItem:authRelsInfo" />
		<div data-template="viewItem:authBibliography" />
		<button data-template="viewItem:authKeywordButton" />
		<button data-template="viewItem:authAttestationsButton" />
		<div class="w3-container" id="allattestations" />
	</div>
	<div data-template="viewItem:authStandards" />
</div>
