<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="https://www.w3.org/1999/xhtml">
	<head>
		<script data-template="config:appBaseScript" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-106148968-1" />
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "UA-106148968-1");
		</script>
		<title property="dcterms:title og:title schema:name">Beta maṣāḥǝft: Manuscripts of Ethiopia and Eritrea</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta data-template="config:app-meta" />
		<meta property="og:site_name" content="Beta maṣāḥǝft: Manuscripts of Ethiopia and Eritrea" />
		<meta property="dcterms:language schema:inLanguage" content="en" />
		<meta
			property="dcterms:rights"
			content="Copyright © Akademie der Wissenschaften in Hamburg, Hiob-Ludolf-Zentrum für Äthiopistik.  Sharing and remixing permitted under terms of the Creative Commons Attribution Share alike Non Commercial 4.0 License (cc-by-nc-sa)."
		/>
		<meta
			property="dcterms:publisher schema:publisher"
			content="Akademie der Wissenschaften in Hamburg, Hiob-Ludolf-Zentrum für Äthiopistik"
		/>

		<!--      icons  -->
		<link rel="shortcut icon" href="resources/images/minilogo.ico" />
		<!--        bootstrap-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="resources/css/external/fontawesome/all.min.css" />
		<link rel="stylesheet" href="resources/css/external/jquery-ui/jquery-ui.min.css" />
		<link rel="stylesheet" href="resources/css/external/virtual-keyboard/keyboard-basic.min.css" />
		<link rel="stylesheet" href="resources/css/w3.css" />
		<link rel="stylesheet" href="resources/css/external/bootstrap/bootstrap.min.css" />
		&gt;
		<link rel="stylesheet" href="resources/css/w3local.css" />

		<script type="text/javascript" src="resources/js/external/jquery/jquery.min.js" />
	</head>

	<body id="body">
		<nav data-template="app:NbarNew" />
		<div data-template="app:modalsNew" />

		<div id="content" data-template="local:include-page" />

		<footer data-template="app:footerNew" />

		<script type="text/javascript" src="resources/js/explain.js" />
		<script type="application/javascript" src="resources/js/w3.js" />
		<script src="resources/js/external/jquery-ui/jquery-ui.min.js" />
		<script src="resources/js/external/virtual-keyboard/jquery.keyboard.js" />

		<!-- keyboard extensions (optional) -->
		<script src="resources/js/external/virtual-keyboard/jquery.mousewheel.min.js" />
		<script src="resources/js/external/virtual-keyboard/jquery.keyboard.extension-typing.min.js" />
		<script src="resources/js/external/virtual-keyboard/jquery.keyboard.extension-altkeyspopup.min.js" />

		<script type="text/javascript" src="resources/js/external/jquery.easing/jquery.easing.min.js" />
		<script type="text/javascript" src="resources/js/external/jquery-migrate/jquery-migrate.min.js" />
		<script type="text/javascript" src="$shared/resources/scripts/loadsource.js" />
		<script src="resources/js/diacriticskeyboard.js" type="text/javascript" />
		<script src="resources/js/external/d3/d3.min.js" />
		<script src="resources/js/vendor/d3sparql/d3sparql.js" />
		<script src="resources/js/external/colorbrewer/colorbrewer.js" />
		<script src="resources/js/d3sparqlsettings.js" />

		<!--        <script type="text/javascript" src="resources/js/toogle.js"/>-->
		<script type="text/javascript" src="resources/js/titles.js" />

		<script
			type="text/javascript"
			src="resources/js/external/cookie-bar/cookiebar.min.js?customize=1&amp;scrolling=1"
		/>
	</body>
</html>
